.header-left {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
  margin: 0;

  i {
    font-size: 20px;
  }

  span {
    letter-spacing: 0.5px;
  }
}


/* 共通ボタン */
.btn-main {
  display: inline-block;
  padding: 0.8em 2em;
  background-color: #facc15;
  box-shadow: 0 5px 0 #eab308;
  border-radius: 40px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  transition: .1s;
  margin: 16px 0;
  font-weight: bold;
  display: block;

  &:hover {
    transform: translateY(2px);
  }

  &:active {
    box-shadow: none;
    transform: translateY(5px);
  }
}


.btn {
  &.btn-header {
    background: #facc15;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: #facc15;
      transform: scale(1.1);
    }
  }
}



.btn-add {
  appearance: none;

  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #103bfe;
  padding: 14px 26px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: .2s;
  border: none;

  &::before {
    content: "＋";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
  }

  &:hover {
    background: #00046b;
    transform: translateY(-2px);
  }
}

.btn-back {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  margin-top: 20px;
  transition: .2s;
  margin-bottom: 16px;
  background: none;
  border: none;
  outline: none;
  

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    border-left: 3px solid #facc15;
    border-bottom: 3px solid #facc15;
    transform: rotate(45deg);
  }

  &:hover {
    color: #333;
    transform: translateX(-2px);
  }
}



.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.2s;
  }

  /* フォーカス時 */
  input:focus, textarea:focus {
    border-color: #facc15;
    outline: none;
    box-shadow: 0 0 0 3px rgba(250, 204, 21, 0.2);
  }
}

.btn-danger {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #ff0000;
  padding: 14px 26px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: .2s;
  border: none;

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
  }

  &:hover {
    background: #6b0000;
    transform: translateY(-2px);
  }
}

.btn-edit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #2bd300;
  padding: 14px 26px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: .2s;
  border: none;

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
  }

  &:hover {
    background: #017509;
    transform: translateY(-2px);
  }
}


.btn-simple {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #facc15;
  padding: 14px 26px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: .2s;
  border: none;

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
  }

  &:hover {
    background: #78630b;
    transform: translateY(-2px);
  }
}

#error_explanation {
  margin-top: 5px;
  padding: 20px;

  background: #fff;
  border-radius: 12px;

  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.05);
}

#error_explanation div,
#error_explanation h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #d32f2f;
}

#error_explanation ul {
  margin: 0;
  padding-left: 20px;
}

#error_explanation li {
  margin-bottom: 6px;
  color: #555;
}

.alert {
  margin-top: 2px;
  margin-bottom: 2px !important;
  padding: 20px;

  background-color: #fff !important;

  border-radius: 12px;

  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.05);

  font-size: 18px;
  font-weight: 700;
}

.alert-notice {
  color: #2e7d32;
}

.alert-alert {
  color: #d32f2f;
}