body {
  margin: 0;
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
  background: #fff9e6;
}

/* ヘッダー */

.header {
  background: #facc15;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.btn {
  background: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
}

.btn.ghost {
  background: transparent;
}
