/* Town-edit */


/* Town-index */
.towns-top {
  background: #fffdf5;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 20px;
  padding: 30px;

  h2 {
    text-decoration: underline dotted #facc15;
    text-underline-offset: 4px;
  }
}

.towns-container {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);



  ul.index {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        display: block;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.towns-bottom {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
}