/* Town-edit */


/* Town-index */

.towns-search {
  text-align: center;
  padding: 60px 20px;
}

.towns-search h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

body {
  background: red !important;
}
