/* Town-edit */
.towns-action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

/* Town-index */
.towns-top {
  background: #fffdf5;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 20px;
  padding: 30px;

  h2 {
    text-decoration: underline dotted #facc15;
    text-underline-offset: 4px;
  }
}

.towns-container {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  

  h1 {
    padding-bottom: 12px;
  }

  ul.index {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        display: block;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.towns-container-bottom {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

@media (max-width: 600px) {
  .towns-container-bottom {
    flex-direction: column;
    gap: 12px;
  }

  .towns-container-bottom a,
  .towns-container-bottom form {
    width: 100%; /* ボタンを横いっぱいに */
  }
}


/* Town-new */
.towns-submit {
  display: flex;
  justify-content: center;
}

/* Town-show */
.towns-bottom {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
  max-width: 1000px;
}