<h1><%= @town.name %>のルート</h1>

<ul>
  <% @routes.each do |route| %>
    <li><%= route.name %></li>
  <% end %>
</ul>


<%= link_to "ルートを登録", new_town_route_path(@town) %>
<%= link_to "町を編集", edit_town_path(@town) %>