<div class="header">
  <div class="logo">
    🚚 配達ルート管理アプリ
  </div>

  <div class="user-menu">
    <button class="user-button" onclick="toggleMenu()">
      👤 ゲストさん
      <span class="arrow">▼</span>
    </button>

    <div class="dropdown" id="userDropdown">
      <% if logged_in? %>
        <%= link_to "マイページ", user_path(current_user) %>
        <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "ログイン", login_path %>
        <%= link_to "新規登録", signup_path %>
      <% end %>
    </div>
  </div>
</div>