<div class="header">
  <div class="logo">
    <i class="fa-solid fa-truck"></i>
    <span>Skip/配達ルート管理アプリ</span>
  </div>

  <div class="user-menu">
    <% if logged_in? %>
      <%= link_to "マイページ", user_path(current_user), class: "btn btn-white" %>

      <%= link_to "ログアウト",
          logout_path,
          data: { turbo_method: :delete },
          class: "btn btn-white" %>
    <% else %>
      <%= link_to "ログイン", login_path, class: "btn btn-white" %>
      <%= link_to "新規登録", signup_path, class: "btn btn-white" %>
    <% end %>
  </div>
</div>