<div class="header">
  <div class="logo">
    🚚 配達ルート管理アプリ
  </div>

  <div class="authorization">
    <% if logged_in? %>
      <%= link_to "マイページ", user_path(current_user), class: "btn ghost" %>
      <%= button_to "ログアウト", logout_path, method: :delete, class: "btn" %>
    <% else %>
      <%= link_to "ログイン", login_path, class: "btn" %>
    <% end %>
  </div>
</div>