<div class="sidebar-inner">
  <h3 class="logo">
    <i class="fa-solid fa-truck"></i>
    <span>Skip</span>
  </h3>

  <button class="sidebar-close" id="sidebar-close">
    ×
  </button>

  <div class="sidebar-list">
    <nav>
      <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
        ダッシュボード
      <% end %>

      <%= link_to towns_path do %>
        <i class="fa-solid fa-building"></i>
        町一覧
      <% end %>

      <%= link_to user_path(current_user) do %>
        <i class="fa-solid fa-user-gear"></i>
        マイページ
      <% end %>


    </nav>
  </div>
</div>